body {
  position: relative;
}

body:after {
  content : "";
  display: block;
  position: absolute;
  background-image: url(../img/background.jpeg);
  background-size: cover;
  opacity : 0.7;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-full {
  color: #1c1c1c;
  font-size:25px;
  font-family: Tahoma, Geneva, sans-serif
}

.header {
  padding: 35px;
}

.header h1 {
  opacity : 0.9;
  z-index: -1;
  text-align: center;
  font-family: 'Kaushan Script', cursive, Helvetica, sans-serif;
  font-size: 170px;
  text-shadow: 4px 4px #af3618;
  color: #141414;
}

.pizza-order {
  position: relative;
  margin: 0 auto;
  padding: 40px;
  margin-top: 20px;
  width: 80%;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

.col-md-6 {
  height: 700px;
}

#order-pizza {
  margin-top: 40px;
}

h3 {
  font-size: 31px;
  padding-bottom: 8px;
  font-weight: bold;
}

h3.size {
  padding-top: 10px;
}

.radio-btn {
  margin-right: 15px;
}

.btn-md.round {
  margin-top: 50px;
  float: right;
  border-radius: 11px;
}

.right-column {
  border-left: 2px dotted #262626;
}
